<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Agendar serviço {{servico.descricao}}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilo2.css' %}">
</head>
<body>
<h1>Agendar serviço {{servico.descricao}}</h1>

<div class="d1">
<h2>Para qual dia e hora gostaria de agendar o serviço {{servico.descricao}}?</h2>

<form method="post">
	{% csrf_token %}
	{{form.horario.errors}}
	<p>Horário(dd/mm/aaaa hh:mm): {{form.horario}}</p>
	<button type="submit">Agendar</button>




</form>
</div>

</body>
</html>