<!DOCTYPE html>
<html>
<head>
	<title>Manutencao de informatica</title>
	<link rel="stylesheet" type="text/css" href="css.css" />


</head>
<body>
<div class="container-fluid">
<div class="principal">
<div class="superior ">
	
	<p class="a"><img src="botao.png" alt="botao logo" width="50px" height="50px"> DAVID SOARES 
	</p>
</div>


<div class="descricao ">
	<p class="cor">Computador travado?<br>
Faça seu cadastro e resolva seus problemas</p>
	
</div>
<div class="sobre ">
<img src="img1.jpg" width="400px" height="300px">
</div>
<div class="cadastro ">
	<p>colocar o cadastro</p>

<!--nessa parte a gente coloca os conteudos de login e cadastro. pq a gente faz com q essa extenda a outra -->
	{% block conteudo %}

	{% endblock %}

</div>
<div class="rodape ">
	<p class="r">
	(84) 99434-2104 <br/>
	Rua Febrônio Soares, Nº34, <br/>
		Centro Tibau do Sul
	</p>
</div>
</div>
</div>


</body>
</html>