<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Página de Perfil</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilo2.css' %}">
</head>
<body>
<h1>Página de Perfil</h1>

<div class="d1">
<p><a href="{% url 'dados' user.id %}"> Meus dados</a></p>


<h2>Olá {{ user.username }}, caso queira tirar alguma dúdiva se sinta a vontade para entrar em contato com a Soares Manutenção</h2>

<nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 " href="{% url 'index' %}">Voltar</a>
</nav>
<p><a href="{% url 'logout' %}">Sair</a></p>
</div>

</body>
</html>