<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>

</head>
	<style type="text/css">
	h1 {text-align: center}
	body {background-color:#CEECF5}
	table {font-style:hand;}
	</style>
</head>
<body>
<h1>Computador não inicia o sistema operacional</h1>
<center>
<table border="pixels 1" cellspacing="20" cellpadding="20">
	<th>PROBLEMÁTICA</th>
	<tr><td>Computador não inicia o sistema operacional</td></tr>
	<th>POSSÍVEIS CAUSAS</th>
	<tr>
	<td>Arquivos do sistema comrrompidos</td>
	</tr>
	<tr>
	<td>Vírus na partição do sistema.</td>
	</tr>

</table>
</center>
</body>
</html>