<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>

</head>
</head>
<body>
<p>computador não liga</p>

<table border="pixels 1">
	<th>PROBLEMÁTICA</th>
	<tr><td>computador não liga</td></tr>
	<th>POSSÍVEIS CAUSAS</th>
	<tr>
	<td>Defeito no estabilizador</td>
	</tr>
	<tr>
	<td>defeito na fonte</td>
	</tr>
	<tr>
	<td> defeito no botão Power</td>
	</tr>
	<tr>
	<td> pinos do painel frontal mal encaixados ou desconectados</td>
	</tr>
	<tr>
	<td> placa mãe queimada</td>
	</tr>

	<th>UMA POSSÍVEL SOLUÇÃO</th>
	<tr><td>Tentar ligar o computador com outro estabilizador se for o caso realizar a troca</td></tr>

</table>
</body>
</html>