<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>

</head>
</head>
<body>
<p>computador reiniciando</p>

<table border="pixels 1">
	<th>PROBLEMÁTICA</th>
	<tr><td>computador reiniciando</td></tr>
	<th>POSSÍVEIS CAUSAS</th>
	<tr>
	<td>Temperatura interna do processador muito alta;</td>
	</tr>
	<tr>
	<td>arquivos corrompidos</td>
	</tr>
	<tr>
	<td> sujeira nos componentes</td>
	</tr>
	<th>UMA POSSÍVEL SOLUÇÃO</th>
	<tr><td>Verificar se o cooler (pequeno ventilador geralmente localizado no centro da placa mãe) do processador está funcionando corretamente e fazer ajustes se necessário</td></tr>

</table>

</body>
</html>