<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>

</head>
	<style type="text/css">
	h1 {text-align: center}
	body {background-color:#CEECF5}
	table {font-style:hand;}
	</style>
</head>
<body>
<h1>Computador reiniciando</h1>
<center>
<table border="pixels 1" cellspacing="20" cellpadding="20">
	<th>PROBLEMÁTICA</th>
	<tr><td>computador reiniciando</td></tr>
	<th>POSSÍVEIS CAUSAS</th>
	<tr>
	<td>Temperatura interna do processador muito alta;</td>
	</tr>
	<tr>
	<td>arquivos corrompidos</td>
	</tr>
	<tr>
	<td> sujeira nos componentes</td>
	</tr>
	<th>UMA POSSÍVEL SOLUÇÃO</th>
	<tr><td>Verificar se o cooler (pequeno ventilador geralmente localizado no centro da placa mãe) do processador está funcionando corretamente e fazer ajustes se necessário</td></tr>

</table>
</center>
</body>
</html>