<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>

</head>
	<style type="text/css">
	h1 {text-align: center}
	body {background-color:#CEECF5}
	table {font-style:hand;}
	</style>
</head>
<body>
<h1>Computador liga, mas fica com a tela preta e fazendo barulho (apitando)</h1>
<center>
<table border="pixels 1" cellspacing="20" cellpadding="20">
	<th>PROBLEMÁTICA</th>
	<tr><td>Computador liga, mas fica com a tela preta e fazendo barulho (apitando)</td></tr>
	<th>POSSÍVEIS CAUSAS</th>
	<tr>
	<td>Problemas com memória RAM</td>
	</tr>
	<tr>
	<td>Problemas com a placa de vídeo</td>
	</tr>
	<tr>
	<td>Problemas com a bateria</td>
	</tr>

</table>
</center>
</body>
</html>