<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>

</head>
	<style type="text/css">
	h1 {text-align: center}
	body {background-color:#CEECF5}
	table {font-style:hand;}
	</style>
</head>
<body>
<h1>Travamento aleatório do computador</h1>
<center>
<table border="pixels 1" cellspacing="20" cellpadding="20">
	<th>PROBLEMÁTICA</th>
	<tr><td>Travamento aleatório do computador</td></tr>
	<th>POSSÍVEIS CAUSAS</th>
	<tr>
	<td>Super aquecimento do processador</td>
	</tr>
	<tr>
	<td>Vírus nos arquivos do sistema</td>
	</tr>
	<tr>
	<td>Placas mal encaixadas</td>
	</tr>
	<tr>
	<td>Problema na tensão da fonte</td>
	</tr>

</table>
</center>
</body>
</html>