<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>

</head>
</head>
</head>
<body>
<p>Computador liga, mas não gera imagem </p>

<table border="pixels 1">
	<th>PROBLEMÁTICA</th>
	<tr><td>Computador liga, mas não gera imagem </td></tr>
	<th>POSSÍVEIS CAUSAS</th>
	<tr>
	<td>Defeito no cabo de alimentação ou no cabo VGA/HDMI do monitor</td>
	</tr>
	<tr>
	<td>problemas na placa de vídeo, problemas na memória RAM</td>
	</tr>
	
	<th>UMA POSSÍVEL SOLUÇÃO</th>
	<tr><td>Verificar se os cabos
relacionados ao monitor estão
funcionando corretamente, se
não realizar a troca</td></tr>

</table>
</body>
</html>