body
{
background-image:  url("/static/img1.jpg");
}
h1, h2
{
	color: white; 
}
.d1
{
	color: white;
	border: 1px;
	width: 500px;
	margin-left: 50px;
	float: left;
}
.d2
{
	color: white;
	border: 1px;
	width: 500px;
	margin-left: 50px;
	float: left;
}
.d3
{
	color: white;
	border: 1px;
	width: 500px;
	margin-left: 50px;
	float: left;
}